project6/C++ version/foo.hack
project6/C++ version/Add.asm
project6/C++ version/Code.o
project6/C++ version/foo.txt
project6/C++ version/HackAssembler.dev
project6/C++ version/HackAssembler.exe
project6/C++ version/HackAssembler.layout
project6/C++ version/main.o
project6/C++ version/Makefile.win
project6/C++ version/Output.o
project6/C++ version/Parser.o
project6/C++ version/SymbolTable.o
project6/C++ version/C++ version.sln
project6/C++ version/C++ version.vcxproj
project6/C++ version/C++ version.vcxproj.filters
project6/C++ version/C++ version.vcxproj.user
project6/C++ version/.vs/C++ version/v16/.suo
project6/C++ version/.vs/C++ version/v16/Browse.VC.db
project6/C++ version/.vs/C++ version/v16/Browse.VC.db-shm
project6/C++ version/.vs/C++ version/v16/Browse.VC.db-wal
project6/C++ version/.vs/C++ version/v16/Browse.VC.opendb
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/b530fbd9f4fe1d0e/CODE.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/cc2ba66e92f9bbc0/PARSER.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/e1b40fa898c4b896/OUTPUT.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/f5b4d1e8c4d0d763/SYMBOLTABLE.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/fa50ecf1f1c05d96/MAIN.ipch
project6/C++ version/foo.asm
project6/C++ version/Debug/C++ version.exe
project6/C++ version/Debug/C++ version.ilk
project6/C++ version/Debug/C++ version.log
project6/C++ version/Debug/C++ version.pdb
project6/C++ version/Debug/main.obj
project6/C++ version/Debug/C++ version.tlog/unsuccessfulbuild
project6/C++ version/Debug/vc142.idb
project6/C++ version/Debug/vc142.pdb
project6/C++ version/Debug/C++ version.tlog/CL.command.1.tlog
project6/C++ version/Debug/C++ version.tlog/CL.read.1.tlog
project6/C++ version/Debug/C++ version.tlog/CL.write.1.tlog
project6/C++ version/Debug/C++ version.tlog/link.read.1.tlog
project6/C++ version/Debug/Parser.obj
project6/C++ version/Debug/SymbolTable.obj
project6/C++ version/Debug/C++ version.exe.recipe
project6/C++ version/Debug/C++ version.vcxproj.FileListAbsolute.txt
project6/C++ version/Debug/Code.obj
project6/C++ version/Debug/Output.obj
project6/C++ version/Debug/C++ version.tlog/C++ version.lastbuildstate
project6/C++ version/Debug/C++ version.tlog/link.command.1.tlog
project6/C++ version/Debug/C++ version.tlog/link.write.1.tlog
project6/C++ version/.vscode/settings.json
project6/C++ version/Debug/C++ version.Build.CppClean.log
