project6/C++ version/foo.hack
project6/C++ version/Add.asm
project6/C++ version/Code.o
project6/C++ version/foo.txt
project6/C++ version/HackAssembler.dev
project6/C++ version/HackAssembler.exe
project6/C++ version/HackAssembler.layout
project6/C++ version/main.o
project6/C++ version/Makefile.win
project6/C++ version/Output.o
project6/C++ version/Parser.o
project6/C++ version/SymbolTable.o
project6/C++ version/C++ version.sln
project6/C++ version/C++ version.vcxproj
project6/C++ version/C++ version.vcxproj.filters
project6/C++ version/C++ version.vcxproj.user
project6/C++ version/.vs/C++ version/v16/.suo
project6/C++ version/.vs/C++ version/v16/Browse.VC.db
project6/C++ version/.vs/C++ version/v16/Browse.VC.db-shm
project6/C++ version/.vs/C++ version/v16/Browse.VC.db-wal
project6/C++ version/.vs/C++ version/v16/Browse.VC.opendb
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/b530fbd9f4fe1d0e/CODE.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/cc2ba66e92f9bbc0/PARSER.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/e1b40fa898c4b896/OUTPUT.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/f5b4d1e8c4d0d763/SYMBOLTABLE.ipch
project6/C++ version/.vs/C++ version/v16/ipch/AutoPCH/fa50ecf1f1c05d96/MAIN.ipch
project6/C++ version/foo.asm
project6/C++ version/Debug/C++ version.exe
project6/C++ version/Debug/C++ version.ilk
project6/C++ version/Debug/C++ version.log
project6/C++ version/Debug/C++ version.pdb
project6/C++ version/Debug/main.obj
project6/C++ version/Debug/C++ version.tlog/unsuccessfulbuild
project6/C++ version/Debug/vc142.idb
project6/C++ version/Debug/vc142.pdb
project6/C++ version/Debug/C++ version.tlog/CL.command.1.tlog
project6/C++ version/Debug/C++ version.tlog/CL.read.1.tlog
project6/C++ version/Debug/C++ version.tlog/CL.write.1.tlog
project6/C++ version/Debug/C++ version.tlog/link.read.1.tlog
project6/C++ version/Debug/Parser.obj
project6/C++ version/Debug/SymbolTable.obj
project6/C++ version/Debug/C++ version.exe.recipe
project6/C++ version/Debug/C++ version.vcxproj.FileListAbsolute.txt
project6/C++ version/Debug/Code.obj
project6/C++ version/Debug/Output.obj
project6/C++ version/Debug/C++ version.tlog/C++ version.lastbuildstate
project6/C++ version/Debug/C++ version.tlog/link.command.1.tlog
project6/C++ version/Debug/C++ version.tlog/link.write.1.tlog
project6/C++ version/.vscode/settings.json
project6/C++ version/Debug/C++ version.Build.CppClean.log
project7/C++ Virtual Machine 1/C++ Virtual Machine 1.vcxproj.user
project7/C++ Virtual Machine 1/C++ Virtual Machine 1.vcxproj.filters
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/Browse.VC.db
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/Browse.VC.db-shm
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/Browse.VC.db-wal
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/Browse.VC.opendb
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/ipch/AutoPCH/77890a5e2ceced4d/PARSER.ipch
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/ipch/AutoPCH/81c10fe4931f4463/MAIN.ipch
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/ipch/AutoPCH/faca9b8fcac83fb4/CODEWRITER.ipch
project7/C++ Virtual Machine 1/C++ Virtual Machine 1.sln
project7/C++ Virtual Machine 1/C++ Virtual Machine 1.vcxproj
project6/C++ version/add/myAss.exe
project6/C++ version/Debug/add/Add.asm
project6/C++ version/Debug/add/Add.hack
project6/C++ version/Debug/add/myAssembler.exe
project6/C++ version/max/myAss1.exe
project6/C++ version/pong/myAss.exe
project6/C++ version/pong/myAss1.exe
project6/C++ version/rect/myAss1.exe
project7/C++ Virtual Machine 1/.vs/C++ Virtual Machine 1/v16/.suo
project7/C++ Virtual Machine 1/Debug/C++ Virtual Machine 1.exe
project7/C++ Virtual Machine 1/Debug/C++ Virtual Machine 1.exe.recipe
project7/C++ Virtual Machine 1/Debug/C++ Virtual Machine 1.ilk
project7/C++ Virtual Machine 1/Debug/C++ Virtual Machine 1.log
project7/C++ Virtual Machine 1/Debug/C++ Virtual Machine 1.pdb
project7/C++ Virtual Machine 1/Debug/C++ Virtual Machine 1.vcxproj.FileListAbsolute.txt
project7/C++ Virtual Machine 1/Debug/CodeWriter.obj
project7/C++ Virtual Machine 1/Debug/main.obj
project7/C++ Virtual Machine 1/Debug/Parser.obj
project7/C++ Virtual Machine 1/Debug/vc142.idb
project7/C++ Virtual Machine 1/Debug/vc142.pdb
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/C++ Virtual Machine 1.lastbuildstate
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/CL.command.1.tlog
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/CL.read.1.tlog
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/CL.write.1.tlog
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/link.command.1.tlog
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/link.read.1.tlog
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/link.write.1.tlog
project7/C++ Virtual Machine 1/Debug/C++ Virt.0cb6344e.tlog/unsuccessfulbuild
*.asm
*.vm
project8/C++ Virtual Machine 2/C++ Virtual Machine 2.sln
project8/C++ Virtual Machine 2/C++ Virtual Machine 2.vcxproj
project8/C++ Virtual Machine 2/C++ Virtual Machine 2.vcxproj.filters
project8/C++ Virtual Machine 2/C++ Virtual Machine 2.vcxproj.user
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/Browse.VC.db
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/Browse.VC.db-shm
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/Browse.VC.db-wal
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/Browse.VC.opendb
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/ipch/AutoPCH/aeeda8fda92afe26/MAIN.ipch
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/.suo
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/ipch/AutoPCH/812eef88b7bbe550/PARSER.ipch
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v16/ipch/AutoPCH/9d744eb0b4ce7cd/CODEWRITER.ipch
project8/C++ Virtual Machine 2/.vscode/settings.json
project8/C++ Virtual Machine 2/Debug/C++ Virtual Machine 2.exe
project8/C++ Virtual Machine 2/Debug/C++ Virtual Machine 2.exe.recipe
project8/C++ Virtual Machine 2/Debug/C++ Virtual Machine 2.ilk
project8/C++ Virtual Machine 2/Debug/C++ Virtual Machine 2.log
project8/C++ Virtual Machine 2/Debug/C++ Virtual Machine 2.pdb
project8/C++ Virtual Machine 2/Debug/C++ Virtual Machine 2.vcxproj.FileListAbsolute.txt
project8/C++ Virtual Machine 2/Debug/CodeWriter.obj
project8/C++ Virtual Machine 2/Debug/main.obj
project8/C++ Virtual Machine 2/Debug/Parser.obj
project8/C++ Virtual Machine 2/Debug/vc142.idb
project8/C++ Virtual Machine 2/Debug/vc142.pdb
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/C++ Virtual Machine 2.lastbuildstate
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/CL.command.1.tlog
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/CL.read.1.tlog
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/CL.write.1.tlog
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/link.command.1.tlog
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/link.read.1.tlog
project8/C++ Virtual Machine 2/Debug/C++ Virt.1654f79b.tlog/link.write.1.tlog
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v15/.suo
project8/C++ Virtual Machine 2/.vs/C++ Virtual Machine 2/v15/Browse.VC.db
project8/C++ Virtual Machine 2/x64/Debug/C++ Virtual Machine 2.log
